<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etr.mapper.SmsVcodeMapper">
    <resultMap id="smsVCode" type="com.etr.model.SmsVCode">
        <result column="id" property="id"/>
        <result column="mobile" property="mobile"/>
        <result column="vcode" property="vCode"/>
        <result column="create_time" property="createTime"/>
        <result column="re_str" property="reStr"/>
        <result column="used" property="used"/>

    </resultMap>
    <insert id="addSmsVCode" parameterType="com.etr.model.SmsVCode" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sms_vcode (mobile,vcode,re_str,used)
        VALUES (#{mobile},#{vCode},#{reStr},#{used})
    </insert>
   <select id="findByMobileVCode" resultMap="smsVCode">
      SELECT * FROM sms_vcode WHERE mobile=#{mobile}
      <if test="vCode!=null ">
          and vcode=#{vCode}
      </if>
       and used=0
   </select>
    <update id="updateSmsVCode" parameterType="com.etr.model.SmsVCode">
        UPDATE sms_vcode <set>
        <if test="used!=null">
            used=#{used}
        </if>
    </set>
        where id=#{id}
    </update>
</mapper>